In [1]:
import pandas as pd
pd.read_csv("XLF.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-27,26.440001,26.639999,26.410000,26.590000,26.054697,42542400
1,2019-02-28,26.600000,26.650000,26.510000,26.520000,25.986107,39835900
2,2019-03-01,26.750000,26.940001,26.610001,26.690001,26.152683,82657300
3,2019-03-04,26.760000,26.940001,26.299999,26.520000,25.986107,76611900
4,2019-03-05,26.570000,26.580000,26.219999,26.420000,25.888119,39868100
...,...,...,...,...,...,...,...
247,2020-02-20,31.020000,31.280001,30.860001,31.070000,31.070000,50344300
248,2020-02-21,30.920000,30.990000,30.600000,30.770000,30.770000,51128200
249,2020-02-24,29.799999,30.059999,29.629999,29.770000,29.770000,70455400
250,2020-02-25,29.780001,29.840000,28.620001,28.760000,28.760000,111826900
251,2020-02-26,28.950001,29.219999,28.549999,28.549999,28.549999,94970600

In [2]:
1000000/26.590000

37608.1233546446

In [3]:
.1233546446*26.590000

3.2799999999139997

In [4]:
# 37608 shares of XLF bought on 2019-02-27 with $3.2799999999139997 remaining

In [5]:
37608*28.549999+3.2799999999139997

1073711.642392

In [ ]:
# 1073711 after selling on 2020-02-26