In [1]:
import pandas as pd
pd.read_csv("EEM.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-27,43.090000,43.160000,42.849998,43.000000,41.782124,69471200
1,2019-02-28,42.720001,42.740002,42.439999,42.439999,41.237984,87434700
2,2019-03-01,42.779999,42.810001,42.410000,42.490002,41.286568,94263900
3,2019-03-04,42.720001,42.779999,42.180000,42.549999,41.344868,94168300
4,2019-03-05,42.750000,43.040001,42.660000,42.970001,41.752975,54576700
...,...,...,...,...,...,...,...
247,2020-02-20,43.880001,44.340000,43.400002,43.540001,43.540001,109316300
248,2020-02-21,43.439999,43.529999,43.230000,43.290001,43.290001,70553100
249,2020-02-24,41.459999,41.910000,41.430000,41.669998,41.669998,101505600
250,2020-02-25,42.279999,42.349998,41.340000,41.340000,41.340000,118601100
251,2020-02-26,41.830002,42.240002,41.639999,41.669998,41.669998,109411100

In [2]:
1000000/43.000000

23255.81395348837

In [3]:
.81395348837*43.000000

34.99999999991

In [4]:
# 23255 shares of EEM bought on 2019-02-27 with $34.99999999991 remaining.

In [5]:
23255*41.669998+34.99999999991

969070.8034899998

In [ ]:
# 969070.80 after selling on 2020-02-26