In [1]:
import pandas as pd
pd.read_csv("SPY.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-27,278.519989,279.589996,277.480011,279.200012,274.011383,56921600
1,2019-02-28,278.959991,279.450012,278.320007,278.679993,273.501007,69268300
2,2019-03-01,280.440002,280.880005,278.820007,280.420013,275.208740,78880500
3,2019-03-04,281.600006,281.869995,276.839996,279.399994,274.207642,106494600
4,2019-03-05,279.540009,279.760010,278.410004,279.019989,273.834717,59114600
...,...,...,...,...,...,...,...
247,2020-02-20,337.739990,338.640015,333.679993,336.950012,336.950012,74163400
248,2020-02-21,335.470001,335.809998,332.579987,333.480011,333.480011,113788200
249,2020-02-24,323.140015,333.559998,321.239990,322.420013,322.420013,161088400
250,2020-02-25,323.940002,324.609985,311.690002,312.649994,312.649994,218913200
251,2020-02-26,314.179993,318.109985,310.700012,311.500000,311.500000,193196100

In [2]:
1000000/279.200012

3581.661737177862

In [3]:
.661737177862 * 279.200012

184.75702799991655

In [4]:
# 3581 shares of SPY bought on 2019-02-27 with $184.75702799991655 remaining

In [5]:
3581*311.500000 + 184.75702799991655

1115666.257028

In [ ]:
# 1115666.25702 after selling on 2020-02-26