In [1]:
import pandas as pd
pd.read_csv("F.csv")

           Date  Open  High   Low  Close  Adj Close     Volume
0    2019-02-27  8.83  8.91  8.78   8.78   8.236733   34093300
1    2019-02-28  8.77  8.79  8.60   8.77   8.227353   43960500
2    2019-03-01  8.85  8.89  8.71   8.79   8.246116   37699500
3    2019-03-04  8.83  8.97  8.76   8.81   8.264878   46196900
4    2019-03-05  8.80  8.81  8.70   8.77   8.227353   40852600
..          ...   ...   ...   ...    ...        ...        ...
247  2020-02-20  8.00  8.07  7.99   8.03   8.030000   52318200
248  2020-02-21  8.02  8.03  7.89   7.89   7.890000   58326300
249  2020-02-24  7.70  7.72  7.55   7.57   7.570000  110048200
250  2020-02-25  7.68  7.68  7.22   7.23   7.230000  108888300
251  2020-02-26  7.30  7.46  7.21   7.21   7.210000   92469500

[252 rows x 7 columns]

In [2]:
1000000/8.78

113895.21640091117

In [3]:
.21640091117*8.78

1.9000000000725998

In [4]:
# 113895 shares of F bought on 2019-02-27 with $1.9000000000725998 remaining

In [5]:
113895*7.21+1.9000000000725998

821184.85

In [13]:
# 821184 after selling on 2020-02-26

In [7]:
# Okay, so just these calculations on these 10 stocks took me approximately one hour...

In [8]:
# I truly used Jupyter Notebook as a Notebook, to show my work, and to keep my Excel table clean.

In [9]:
# About halfway through, I realized how powerful writing a function for this would be, then I could plug in

In [10]:
# all of the stocks in the world, as long as I have the CSV data in the correct format. Unfortunately my function

In [11]:
# writing skills are quite weak at this time, and I am planning to finish this Build Project early so that

In [12]:
# I can revisit an earlier assignment. However, I would like to revisit this concept, write a function to do these

In [ ]:
# calculations, and experiment with other backtrading strategies to see if I can create some more profitable.