In [1]:
import pandas as pd
pd.read_csv("AMD.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-27,24.110001,24.230000,23.209999,23.480000,23.480000,62649300
1,2019-02-28,23.209999,23.670000,23.110001,23.530001,23.530001,39384900
2,2019-03-01,23.969999,24.190001,23.450001,23.680000,23.680000,48084000
3,2019-03-04,23.889999,24.129999,23.010000,23.370001,23.370001,48147700
4,2019-03-05,23.340000,23.680000,23.010000,23.500000,23.500000,35462600
...,...,...,...,...,...,...,...
247,2020-02-20,58.439999,59.020000,56.150002,57.270000,57.270000,74203400
248,2020-02-21,56.709999,56.799999,52.889999,53.279999,53.279999,88271100
249,2020-02-24,48.180000,50.279999,47.490002,49.119999,49.119999,86624100
250,2020-02-25,51.139999,51.240002,47.119999,47.570000,47.570000,88699400
251,2020-02-26,47.700001,49.290001,47.070000,47.490002,47.490002,86378400

In [2]:
1000000/23.480000

42589.43781942078

In [3]:
.43781942078*23.480000

10.2799999999144

In [4]:
#42589 shares of AMD bought on 2019-02-27 with $10.2799999999144 remaining

In [5]:
42589*47.490002+10.2799999999144

2022561.9751779998

In [ ]:
# 2022561 after selling on 2020-02-26