In [1]:
import pandas as pd
pd.read_csv("BAC.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-27,29.299999,29.670000,29.209999,29.530001,28.873125,48128600
1,2019-02-28,29.500000,29.549999,29.010000,29.080000,28.578300,62358100
2,2019-03-01,29.330000,29.650000,29.209999,29.309999,28.804333,45771500
3,2019-03-04,29.330000,29.540001,28.770000,29.030001,28.529165,56893200
4,2019-03-05,29.020000,29.190001,28.700001,29.080000,28.578300,39932500
...,...,...,...,...,...,...,...
247,2020-02-20,34.459999,35.080002,34.459999,34.849998,34.849998,42604100
248,2020-02-21,34.529999,34.639999,34.139999,34.360001,34.360001,46675500
249,2020-02-24,33.180000,33.209999,32.520000,32.730000,32.730000,79159600
250,2020-02-25,32.689999,32.759998,30.840000,31.080000,31.080000,91586800
251,2020-02-26,31.389999,31.600000,30.559999,30.629999,30.629999,80012800

In [2]:
1000000/29.530001

33863.8661068789

In [3]:
.8661068789*29.530001

25.57613700002388

In [4]:
# 33863 shares of BAC bought on 2019-02-27 with $25.57613700002388 remaining

In [5]:
33863*30.629999+25.57613700002388

1037249.2322740001

In [ ]:
# 1037249.23 after selling on 2020-02-26