In [1]:
import pandas as pd
pd.read_csv("GE.csv")

           Date   Open   High    Low  Close  Adj Close     Volume
0    2019-02-27  10.83  10.93  10.64  10.88  10.836486  108833400
1    2019-02-28  10.82  10.85  10.33  10.39  10.348446   90862100
2    2019-03-01  10.45  10.52  10.05  10.27  10.228926   89000200
3    2019-03-04  10.32  10.52  10.22  10.38  10.338485   69762900
4    2019-03-05  10.38  10.57   9.58   9.89   9.850446  178783600
..          ...    ...    ...    ...    ...        ...        ...
247  2020-02-20  12.65  12.68  12.41  12.53  12.530000   39561900
248  2020-02-21  12.45  12.46  12.22  12.25  12.250000   42921200
249  2020-02-24  11.69  12.06  11.60  11.86  11.860000   70978000
250  2020-02-25  11.97  12.00  11.18  11.32  11.320000   81087400
251  2020-02-26  11.37  11.54  10.80  10.95  10.950000   93118000

[252 rows x 7 columns]

In [2]:
1000000/10.88

91911.76470588235

In [3]:
.76470588235*10.88

8.319999999968001

In [4]:
# 91911 shares of GE bought on 2019-02-27 with $8.319999999968001 remaining

In [5]:
91911*10.95+8.319999999968001

1006433.7699999999

In [ ]:
# 1006433.76 after selling on 2020-02-26