In [1]:
import pandas as pd
pd.read_csv("TVIX.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-27,312.700012,329.000000,303.200012,307.799988,307.799988,1592900
1,2019-02-28,308.200012,310.200012,297.200012,306.299988,306.299988,1111800
2,2019-03-01,291.600006,302.700012,282.000000,282.200012,282.200012,1363700
3,2019-03-04,275.899994,320.899994,269.299988,293.700012,293.700012,2805300
4,2019-03-05,292.299988,306.000000,290.100006,296.000000,296.000000,1505200
...,...,...,...,...,...,...,...
247,2020-02-20,39.529999,44.360001,38.919998,41.730000,41.730000,20067700
248,2020-02-21,44.320000,49.299999,43.599998,46.799999,46.799999,22922400
249,2020-02-24,60.910000,64.620003,55.950001,64.139999,64.139999,28291800
250,2020-02-25,60.049999,80.000000,59.119999,76.430000,76.430000,33225400
251,2020-02-26,71.699997,78.940002,66.690002,73.070000,73.070000,24800400

In [2]:
1000000/307.799988

3248.8630246470316

In [3]:
.8630246470316*307.799988

265.6389760000307

In [4]:
# 3248 shared of TVIX were bought on 2019-02-27 with $ 265.6389760000307 remaining

In [5]:
3248*73.070000+265.6389760000307

237596.998976

In [ ]:
# 237596 after selling on 2020-02-26