In [1]:
import pandas as pd
pd.read_csv("GDX.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-27,22.600000,22.680000,22.200001,22.350000,22.192652,49023500
1,2019-02-28,22.360001,22.360001,22.160000,22.240000,22.083426,32776800
2,2019-03-01,22.059999,22.320000,21.690001,21.700001,21.547228,78919200
3,2019-03-04,21.559999,21.860001,21.400000,21.850000,21.696173,55000900
4,2019-03-05,21.770000,21.969999,21.680000,21.969999,21.815327,30417100
...,...,...,...,...,...,...,...
247,2020-02-20,29.660000,30.100000,29.500000,29.750000,29.750000,52313900
248,2020-02-21,30.270000,30.709999,30.180000,30.650000,30.650000,76564200
249,2020-02-24,31.760000,31.840000,30.660000,31.049999,31.049999,87112400
250,2020-02-25,30.480000,31.160000,29.910000,29.969999,29.969999,91165500
251,2020-02-26,29.900000,30.280001,29.670000,29.870001,29.870001,49317800

In [2]:
1000000/22.35

44742.729306487694

In [3]:
.729306487694*22.35

16.2999999999609

In [4]:
# 44742 shares of GDX bought on 2019-02-27 with $16.2999999999609 remaining.

In [5]:
44742*29.870001 + 16.2999999999609

1336459.884742

In [ ]:
# 1336459.884742 after selling on 2020-02-26