In [1]:
import pandas as pd
pd.read_csv("CHK.csv")

           Date  Open  High   Low  Close  Adj Close     Volume
0    2019-02-27  2.87  2.99  2.73   2.90       2.90  121021000
1    2019-02-28  2.95  2.97  2.83   2.96       2.96   57474600
2    2019-03-01  3.01  3.22  3.00   3.13       3.13   81237400
3    2019-03-04  3.22  3.32  3.05   3.19       3.19   76008600
4    2019-03-05  3.21  3.22  3.09   3.14       3.14   44347800
..          ...   ...   ...   ...    ...        ...        ...
247  2020-02-20  0.48  0.50  0.48   0.48       0.48   59031400
248  2020-02-21  0.47  0.47  0.45   0.45       0.45   43117600
249  2020-02-24  0.42  0.47  0.40   0.44       0.44   68191400
250  2020-02-25  0.45  0.46  0.41   0.44       0.44   67366500
251  2020-02-26  0.43  0.43  0.30   0.31       0.31  234906000

[252 rows x 7 columns]

In [2]:
1000000/2.90

344827.5862068966

In [3]:
.5862068966*2.90

1.70000000014

In [4]:
# 344827 CHK shares purchased on 2019-02-27 with 1.70000000014 remaining.

In [5]:
344827*0.31 + 1.70000000014

106898.07000000014

In [ ]:
# $106898.07000000014 after selling on 2020-02-26